body {
  background-color: antiquewhite;
}

h1 {
  color: orangered;
}

.language-card {
  display: inline-block;
  background-color: white;
  border-radius: 1rem;
  width: max-content;
  height: min-content;
  padding: 1% 5%;
  text-align: center;
  margin: 0% 2%;
}
.language-card > .title {
  font-size: 2em;
  /* width: 100%; */
}

/* .section2 {
  display: flex;
} */

.section1 {
  padding: 0% 5%;
}
