.body-courses {
  background-color: antiquewhite;
  height: 100vh;
}

h1 {
  color: orangered;
}

.language-card {
  display: inline-block;
  background-color: white;
  border-radius: 1rem;
  width: max-content;
  height: min-content;
  padding: 1% 5%;
  text-align: center;
  margin: 0% 2%;
}
.language-card > .title {
  font-size: 2em;
  /* width: 100%; */
}

/* .section2 {
  display: flex;
} */

.section1 {
  padding: 0% 5%;
}
.course-box {
  background-color: white;
  width: 30%;
  display: inline-block;
  margin: 0% 1%;
  text-align: center;
  border-radius: 1em;
}

.r-link {
  width: 30%;
}
.r-link > h5 {
  color: orangered;
  font-weight: bold;
  margin: 4% 0%;
}
.r-link > p {
  color: black;
}
