.body-index {
  background-color: antiquewhite;
  height: 100vh;
}

.title {
  color: orangered;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 1% 5%;
  font-size: 3em;
  text-align: center center;
  display: inline-block;
}
.section1 {
  display: flex;
  width: 100vw;
  margin: 0px;
  padding: 0% 5%;
}
.section2 {
  margin: 1% 1%;
  text-align: center;
  background-color: antiquewhite;
}
.language-card {
  display: inline-block;
  background-color: white;
  border-radius: 1rem;
  width: 300px;
  height: auto;
  padding: 2% 0%;
  text-align: center;
  margin: 3% 2%;
}
.language-card > .title {
  font-size: 2em;
  /* width: 100%; */
}

h1 {
  color: orangered;
  margin: 5% 0%;
  font-weight: bold;
}
p {
  font-size: 2em;
}

.logo-python {
  width: 50%;
  height: 50%;
}
